@(id: Long, bookForm: Form[Book])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit book</h1>
    
    @form(routes.Books.update(id)) {
        
        <fieldset>
        
            @inputText(bookForm("bookName"), '_label -> "本の名前")
            @inputText(bookForm("rank"), '_label -> "評価")
            @select(
                bookForm(Book.TblDef.CATEGORY_ID),
                options(Category.options),
                '_label -> "Category", '_default -> "-- Choose a category --",
                '_showConstraints -> true
            )


        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this book" class="btn primary"> or 
            <a href="@routes.Books.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Books.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this book" class="btn danger">
    }
    
}
