@(bookForm: Form[Book])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a book</h1>
    
    @form(routes.Books.save()) {
        
        <fieldset>
        
            @inputText(bookForm("bookName"), '_label -> "本の名前")
	         
	        @select(
                bookForm(Book.TblDef.RANK),
                options(Book.rankOptions),
                '_label -> "評価", '_default -> "-- Choose a rank --",
                '_showConstraints -> true
            ) 
            
            @select(
                bookForm(Book.TblDef.CATEGORY_ID),
                options(Category.options), 
                '_label -> "Category", '_default -> "-- Choose a category --",
                '_showConstraints -> true
            ) 
            
            @textarea(bookForm(Book.TblDef.COMMENT), args = 'rows -> 3, 'cols -> 50, '_label -> "Comment")
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this book" class="btn primary"> or 
            <a href="@routes.Books.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}